.loader_spinner {
    width: 20px;
    height: 20px;
    border: 5px dotted #4E5A61;
    border-radius: 50%;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loadmore {
    width: 24px;
    height: 24px;
    border: 5px dotted #4E5A61;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 